@{
    ViewData["Title"] = "Basic ConversaTranslationJS";
}

<div class="row" style="margin-top:40px;">
    <div class="container">
        <div class="card bg-light" style="height:100%;">
            <div class="card-header">
                Basic ConversaTranslationJS
            </div>
            <div class="card-body" style="max-height: 80%;overflow-y: auto;">
                <div id="join">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">nickname</span>
                                </div>
                                <input type="text" class="form-control" placeholder="nickname" aria-label="nickname" aria-describedby="nickname" id="nickname">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">language</span>
                                </div>
                                <select id="language" class="form-control">
                                    <option value="tr-TR">Turkish</option>
                                    <option value="en-US">English</option>
                                </select>
                            </div>
                            <button type="button" onclick="join();" class="form-control btn btn-success">join</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="conversaTranslation" style="display:none;">
                <div class="row">
                    <div id="chatArea" class="col-md-12">
                        <ul id="chatAreaMessages"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" onclick="speak();" class="form-control btn btn-success">Click to speak</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
